@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "tailwindcss";

:root {
  --bg-color: #fafafa;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  background-color: var(--bg-color);
}

* {
  outline: 0;
}

a {
  color: black;
}

/* a:hover {
  color: rgb(0, 128, 255);
} */

section {
  max-width: 1000px;
  margin: auto;
  padding: 0px 25px;
}

button {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  display: none;
}

/* button {
  cursor: pointer;
  background-color: transparent;
  border: none;
} */

.iconify {
  font-size: 1.5em;
}