@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import 'material-icons/iconfont/material-icons.css';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--primary-color: #fafafa;
}


body {
	margin: 0;
	font-family: Poppins, "Helvetica Neue", sans-serif;
	background-color: var(--primary-color);
}
* {
	outline: 0;
}
a {
	color: black;
}
a:hover {
	color: blue;
}
section {
	max-width: 1200px;
	margin: auto;
	padding: 0px 20px;
}
.hidden {
	visibility: hidden;
}
