@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import 'material-icons/iconfont/material-icons.css';
@import '@splidejs/svelte-splide/css';

:root {
	--primary-color: #fafafa;
}

body {
	margin: 0;
	font-family: Poppins, "Helvetica Neue", sans-serif;
	background-color: var(--primary-color);
	font-size: 18px;
}

* {
	outline: 0;
}

a {
	color: black;
}

a:hover {
	color: blue;
}

section {
	max-width: 1200px;
	margin: auto;
	padding: 0px 25px;
}

.hidden {
	visibility: hidden;
}

.gallery .splide__pagination {
	bottom: 90px;
}

.carousel .splide__pagination {
	bottom: -80px;
}